.hero.is-info {
    background-color: #062030 !important;
}

.controls-section {
    background-color: #245354 !important;
    border-radius: 1rem !important;
    padding: 1.5rem !important;
}

.section.has-background-primary {
    background-color: #365c75 !important;
}

body{
    background-color: #80a1c1;
}

.checkbox, p, .title{
    color: white;
}


/* Font Options */
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  #controls {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  button[data-playing="yes"]:after{
    content: "Pause";
  }
  
  button[data-playing="no"]:after{
    content: "Play";
  }